header{
    height: 80px;
    position: sticky;
    left: 0%;
    top: 0%;
    right: 0%;
    background-color: #fff;
    z-index: 1000;

  .header__logo{
    img{
        width: 176px;
        height: 51.6px;
        object-fit: cover;
    }
}  
}
